[hyoo_mol_menu] {
	flex: 0 0 20rem;
}

[hyoo_mol_menu_body] {
	display: flex;
	flex-direction: column;
	padding: var(--mol_gap_block);
}

[hyoo_mol_slides_app] {
	flex: 1000 0 80rem;
}

[hyoo_mol_view_tree_app] {
	flex: 1000 0 60rem;
}

[hyoo_mol_icons_app] {
	flex: 1000 0 40rem;
}
