[hyoo_mol_bench_menu] {
	flex: 0 0 15rem;
}

[hyoo_mol_bench_perf_title] {
	flex-grow: 1;
}

[hyoo_mol_bench_perf_tools] {
	flex-grow: 1000;
}

[hyoo_mol_bench_visual] {
	flex: 1 0 auto;
}

[hyoo_mol_bench_visual_deck_switch] {
	flex-grow: 1000;
}

[hyoo_mol_bench_visual_title] {
	flex-grow: 1;
}

[hyoo_mol_bench_visual_deck] {
	flex: 1 1 auto;
}
